[Desktop Entry]
Type=Application
Version=1.0
Name=Htop
Icon=htop
Exec=htop
Terminal=True
Categories=System;Monitor;ConsoleOnly;
Keywords=system;process;task
